.inventory-grid {
    grid-template-columns: 30 50px 50px 50px 50px 50px;
    @screen sm {
      grid-template-columns: 30 50px 50px 50px 50px 50px;
    }
    @screen md {
      grid-template-columns: 40px 80px 80px 80px 80px 80px;
    }
  
    @screen lg {
      grid-template-columns: 20px 200px 70px 70px 70px 40px ;
    }
  
    @screen xl {
      grid-template-columns: 20px 200px 150px 100px 100px 60px;
    }        
  }

  ::ng-deep .mat-date-range-input-container{
    width: 10px;

    .mat-date-range-input-separator{
      display: none;
    }
  }